.footer_onlayn{
    margin: 0;
}
.for_onlayn{
    padding: 0;
}

.for__block_onlyne{
    padding: 80px 0 0 0;
}

.header-main_onlayn{
    background-image: url("../images/bg-2.png");
}

.walut_onlayn{
    background-color: #F1F1F1 !important;

}
.orange-btn_onlayn{
    display: inline;
    margin: 0 0 0 8px;
    position: relative;
    top: -5px;

}   


.galk{
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    max-width: 200px;


}

.galk_before::before{
    content: url("../images/galk.svg");
    position: relative;
    top: 5px;
    margin: 0 12px 0 0 ;


}

.galkes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    gap: 5px;

}